@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Mulish:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');
body{
	font-family: 'Mulish', sans-serif;
}
p{
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}
/* header design start */
.header{
	display: flex;
	padding: 20px 130px;
	justify-content:space-between;
}
.logo{
	display: flex;
}
.logo h6{
	color: #131318;
	font-size: 36px;
	font-weight: 800;
	margin-left: 10px;
}
.logo span{
	color: #FF5400;
	font-size: 36px;
	font-weight: 800;
}
nav {
    color: white;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    margin-right: 15px;
}
nav a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
nav a:hover {
    color: #FF5400;
}
.mobile-menu{
	display: none;
}
/* header design end */
main{
	padding: 20px 130px;
}
/* banner design start */
.banner-section{
	background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("Images/banner.png");
	position: relative;
    padding: 150px 300px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;
}
.banner-section h2{
	color: #FFF;
	font-size: 64px;
	font-weight: 800;

}
.banner-section p{
	color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
padding-top: 20px;
}
.input-group {
    display: flex;
  }

  .input-group input,
  .input-group select,
  .input-group button {
    height: 40px;
    margin-right: 10px; 
    border-radius: 10px;
    width: 150px;
    border: none;  
}
  .input-group input::placeholder {
    color: rgba(19, 19, 24, 0.50);
font-size: 16px;
font-weight: 400;
  }

  .input-group select option {
   color: rgba(19, 19, 24, 0.50);
font-size: 16px;
font-weight: 400;
  }
/* banner design end */
@media (max-width: 600px) {
/* responsive header design start */ 
  .desktop-menu{
  	display: none;
  }
  .mobile-menu{
	display: block;
}
.header{
	padding: 26px;
  
}
main{
	padding: 26px;
}
.logo h6{
	font-size: 21px;
	margin-top: 5px;
}
.logo span{
	font-size: 21px;
}
/* responsive header design end */
/* banner responsive css start */
.banner-section{
	padding: 26px;

}
.banner-section h2{
font-size: 22px;
text-align: center;
padding-top: 30px;

}
.banner-section p{
font-size: 14px;
padding-bottom: 30px;
}
.input-group {
    display: flex;
    flex-direction: column;

  }
 .input-group input,
    .input-group select,
    .input-group button {
      width: 100%;
      margin-right: 0;
      margin-top: 10px;
}

}
