@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Mulish:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');
body{
	font-family: 'Mulish', sans-serif;
}
p{
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}
.primary-button{
  border-radius: 8px;
background: #FF5400;
padding: 14px 25px;
color: #fff;
border: none;
}
.common-heading{
color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
padding-top: 50px;
}

  

.common-paragraph{
  color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
padding: 20px 0;
}
/* header design start */
.header{
	display: flex;
	padding: 20px 130px;
	justify-content:space-between;
}
.logo{
	display: flex;
}
.logo h6{
	color: #131318;
	font-size: 36px;
	font-weight: 800;
	margin-left: 10px;
}
.logo span{
	color: #FF5400;
	font-size: 36px;
	font-weight: 800;
}
nav {
    color: white;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    margin-right: 15px;
}
nav a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
nav a:hover {
    color: #FF5400;
}
.mobile-menu{
	display: none;
}
/* header design end */
main{
	padding: 20px 130px;
}
/* banner design start */
.banner-section{
	background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("Images/banner.png");
	position: relative;
    padding: 150px 300px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;
}
.banner-section h2{
	color: #FFF;
	font-size: 64px;
	font-weight: 800;

}
.banner-section p{
	color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
padding-top: 20px;
}
.input-group {
    display: flex;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
padding: 15px;
  }

  .input-group input,
  .input-group select,
  .input-group button {
    height: 40px;
    margin-right: 10px; 
    border-radius: 10px;
    width: 150px;
    border: none;  
}
  .input-group input::placeholder {
    color: rgba(19, 19, 24, 0.50);
font-size: 16px;
font-weight: 400;
  }

  .input-group select option {
   color: rgba(19, 19, 24, 0.50);
font-size: 16px;
font-weight: 400;
  }
/* banner design end */
/* popular tour css start */

.popular-tour{
  display: flex;
  padding-top: 50px;
}
.tour-text h2{
  color: #131318;
font-size: 40px;
font-weight: 800;
}
.tour-text p{
  color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
padding: 20px 0;
  
}

.tour-text ul li{
  color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
padding-bottom:15px; 
  
}
/* popular tour css end */

/* destination css start */

 .image-grid-view {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .image-container {
    position: relative;
    margin-bottom: 16px;
  }

  .image-container img {
    width: 100%;
    border-radius: 8px;
  }

  .image-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    border-radius: 4px;
  }

/* destination css end */

/* choose us css start */
.top-part{
  display: flex;
  gap: 20px;
}
.left-choose-part{
  border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding: 30px;
}
.right-choose-part{
  border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
padding: 30px;

}
.choose-common-heading{
  color: #131318;
  padding: 15px 0;
font-size: 24px;
font-weight: 800;
}
.choose-common-paragraph{
  color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px;

}
.bottom-part{
  width: 50%;
  margin: auto;
  margin-top: 15px;

}

/* package css start */
.package-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      /* padding: 20px; */
    }

    .package {
      max-width: 300px;
      margin: 5px;
      border-radius: 16px;
border: 1px solid #FF5400;
      text-align: center;
      padding-bottom: 20px;
    }

    .package img {
      max-width: 100%;
      height: auto;

      border-radius: 16px;
    }

    .package h2 {
      margin-top: 10px;
      font-size: 20px;
    }

    .package p {
      margin-top: 10px;
      font-size: 16px;
      padding: 0 5px;
    }

    .package .price {
      margin-top: 10px;
      font-size: 20px;
      color: #FF5400;
    }

    .package .see-now-btn {
      display: inline-block;
      margin-top: 10px;
      padding: 8px 16px;
      font-size: 1em;
      border-radius: 8px;
background: #FF5400;
      color: #fff;
      text-decoration: none;
      border: none;
      cursor: pointer;
    }
/* video-section css start */
.video-section{
  display: flex;
  margin-top: 50px;
}
.video-text{
  width: 50%;
}
.video-image{

  width:560px;
}
.video-heading{
  color: #131318;
font-size: 40px;
font-weight: 800;
line-height: 60px;

}
.video-paragraph{
  color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px; 

}
.video-image video {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.video ul li{
  color: #131318;
font-size: 16px;
font-weight: 700;
line-height: 26px;
}

/* newsletter css start */
.newsletter-section{
  display: flex;
  width: 100%;
  margin-top: 50px;
}
.newsletter-left input{
  background: rgba(19, 19, 24, 0.05);
}
.newsletter-left{
  padding: 15px;
  border-radius: 16px;
border: 1px solid #FF5400;
margin-right: 30px;
max-width: 600px;
 margin: 0 auto;
}
.newsletter-left h2{
  color: #131318;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.newsletter-left p{
  color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
padding: 20px 0;

}
.newsletter-right {
    position: relative;
}

.top-image {
    position: absolute;
    top: 46%;
    left: 46%;
}
.form-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    border: none;
    /* margin-top: 5px; */
    border-radius: 8px;
    /* background: rgba(19, 19, 24, 0.05);  */
}
hr {
    background: rgba(19, 19, 24, 0.10);
    margin-bottom: 20px;
}

.subscribe {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    border: none;
    cursor: pointer;
}

/* footer css start */
.footer {
    padding: 50px 130px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background: rgba(19, 19, 24, 0.05);
}

.footer-logo {
    text-align: center;
    display: flex;
    justify-content: center;
}
.footer-logo h6{
  color: #131318;
  font-size: 36px;
  font-weight: 800;
  margin-left: 10px;
}
.footer-logo span{
  color: #FF5400;
  font-size: 36px;
  font-weight: 800;
}
.social-icon{
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.footer p{
  justify-content: center;
  padding: 20px 0;
  color: #131318;
font-size: 16px;
font-weight: 300;
text-align: center
}
.social-icon i{
  margin-right: 20px;
}
@media (max-width: 600px) {
/* responsive header design start */ 
  .desktop-menu{
  	display: none;
  }
  .mobile-menu{
	display: block;
}
.header{
	padding: 26px;
  
}
main{
	padding: 26px;
}
.logo h6{
	font-size: 21px;
	margin-top: 5px;
}
.logo span{
	font-size: 21px;
}
/* responsive header design end */
/* banner responsive css start */
.banner-section{
	padding: 26px;

}
.banner-section h2{
font-size: 22px;
text-align: center;
padding-top: 30px;

}
.banner-section p{
font-size: 14px;
padding-bottom: 30px;
}
.input-group {
    display: flex;
    flex-direction: column;

  }
 .input-group input,
    .input-group select,
    .input-group button {
      width: 100%;
      margin-right: 0;
      margin-top: 10px;
       color: rgba(19, 19, 24, 0.50);
}
.popular-tour{
    flex-direction: column;
}
.tour-text h2{
  color: #131318;
font-size: 20px;
font-weight: 800;
}
.tour-text p{
  color: rgba(19, 19, 24, 0.70);
font-size: 14px;
font-weight: 400;
padding: 20px 0;
  
}

.tour-text ul li{
  color: rgba(19, 19, 24, 0.70);
font-size: 14px;
font-weight: 400;
padding-bottom:20px; 
  
}
.tour-image img{
  width: 100%;
  padding-top: 20px;
}
/* destination responsive css start */
.image-grid-view {
      flex-direction: column;
      
    }
    .image-container{
      margin-bottom: 5px;
    }
    .common-heading{
font-size: 20px;

}
.common-paragraph{
font-size: 14px;
}
.top-part{
  flex-direction: column;
}
.bottom-part{
  width: 100%;
  

}
.package {
        width: 100%;
      }
.video-section{
    flex-direction: column;
    margin-top: 20px;
}
.video-image video {
    max-width: 50%; 
    margin-top: 20px;
  }
  .video-text{
    width: 100%;
  }
/* video{
  width: 100% !important;
} */
.video-heading{
  color: #131318;
font-size: 20px;
font-weight: 800;
line-height: 60px;

}
.video-paragraph{
  color: #5A5A5D;
font-size: 14px;
font-weight: 400;
line-height: 26px; 

}
.newsletter-section{
  flex-direction: column;
}
.newsletter-left input{
  background: rgba(19, 19, 24, 0.05);
}
.bottom-image{
  width: 100%;
  margin-top: 20px;

}
.top-image{
  width: 50%;
}
.footer{
  padding: 26px;

}
}
